@page "/"
@using System.Security.Claims

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.FindFirstValue("name")</h1>
        <div class="alert alert-warning">View the <a href="/weather">weather</a> endpoint for a remote API call</div>
        <h3>Claims:</h3>
        <dl>
            @foreach (var claim in context.User.Claims)
            {
                <dt>@claim.Type</dt>
                <dd>@claim.Value</dd>
            }
        </dl>
    </Authorized>
</AuthorizeView>
